@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500;700&display=swap');

body {
    font-family: 'Zen Maru Gothic', sans-serif;
}
img {
    box-shadow: 4px 4px 0 0 #000;
}
li {
    box-shadow: 4px 4px 0 0 #000;
}
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

